.navbar{
    padding: 2rem;
    background-color: #f5f6f7;
}
.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}
.experiencia{
    padding: 40px 40px 60px 40px;
    width: 100%;
}
.experiencia i{
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
    margin-top: 10px;
}
.experiencia-titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}
.badges-contenedor{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}
.badge{
    margin: 5px;
}
.proyecto{
    position: relative;
}

.proyectos-recientes{
    padding: 40px;
}
.proyectos-recientes img{
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all .2s ease;
}
.proyectos-contenedor{
    padding-top: 60px;
    margin-bottom: 4.0px;
    
}
@media screen and (min-width: 1200px) {
  .proyectos-contenedor{
    width: 60%;
  }
}
.overlay{
    transition: all .2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.overlay .iconos-contenedor{
    display: flex;
}
.overlay i{
    color: black;
    font-size: 40px;
    margin: 10px;
}
.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}
.proyecto:hover img{
    opacity: .5;
}
.proyecto:hover .overlay{
    opacity: 1;

}
.proyectos-recientes h2{
    font-weight: 550;
}
.columna{
    margin-top: 50px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.columna:hover{
    background-color: #1b1b32;
    color: #ffffff;
    transition: .2s;
}
@media screen and (max-width: 767px) {
  .navbar-brand {
      display: none;
  }
}
@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
      max-width: 600px;
  }
}
.hero {
    background-color: #f5f6f7;
    text-align: center;
}
.hero-principal{
    padding: 5rem;
}
.sobre-mi{
    height: 500;
    padding: 50px;
}
.sobre-mi .contenedor{
    max-width: 600px;
    margin: auto;
    text-align: center;
}
.hero-principal img{
    width: 150px;
    margin: 30px;
}
.hero-principal h2{
    font-size: 1.5rem;
    color: #615151;
}
h1{
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
}
.seccion-oscura {
    background-color: #1b1b32;
    color: #ffffff;
}
.seccion-clara {
    color: #000000;
    background-color: #ffffff;
}
.seccion-titulo {
    font-size: 2rem;
    padding: 10px 0;
    font-family: 'Poppins', sans-serif;
}
.seccion-descripcion{
    font-size: 1.2rem;
    color: #584e4e;
}
.seccion-texto{
    font-size: 1rem;
}
.texto-negro{
    color: black;
}

.texto-blanco{
    color: white;
}
.testimonios{
    padding: 40px 40px 80px 40px;
    margin-top: 30px;
}
.testimonios h2{
    font-weight: 550;
}
.testimonios .carousel {
    max-width: 200px;
    margin: auto;
    margin-top: 50px;
}
.next{
    margin: -50px;
}
.previus{
    margin: -50px;
}
.carousel-item{
    padding-left: 40px;
    padding-right: 40px;
    
}
.carousel-inner p{
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
}
.contacto{
    margin-top: 100px;
}
.contacto .container{
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}
.contacto .rectangulo{
    margin-top: -5rem;
    background-color: rgb(13, 110, 253);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px #ffffff;
}
.contacto .row{
    width: 100%;
    display: flex;
    align-items: center;
}
.contacto .descripcion{
    color: white;
    font-size: 1.2rem;

}
.contacto button{
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding:  1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all .2s ease-in-out;
}
.contacto button i{
    color: white;
    font-size: 1.3rem;
    transition: all .2s ease-in-out;
}
.contacto button:hover{
    background-color: white;
    color: black;
}
.contacto button:hover i{
    color: black;
}
.footer-texto{
    font-size: 25px;
    margin-top: 50px;
}
.iconos-redes-sociales a{
    font-size: 40px;
    margin: 20px;
    background-color: #1b1b32;
}
.iconos-redes-sociales{
    margin-top: 50px;
    margin-bottom: 70px;
    
}
